
/* general  */

.hide {
    display: none;
}

.show {
    display: inline;
}

.no-scroll {
    overflow: hidden;
}


.photograph-header {  
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover,
.contact_button:focus {
    color: #000;
    background-color: #db8876;
    outline: none;

}



/* general  */



/* photographers page */

.main {
    width: 90%;
    margin: auto;
}

.photograph_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fafafa;
    border-radius: 5px;
    align-items: center;
    margin: auto;
    padding: 56px 0;

}

.photograph_header .photograph-info {
    margin-left: 50px;
}

.photograph_header h1 {
    color: #D3573C;
    font-size: 4rem;
    margin: 0;
    line-height: 83px;
    font-weight: 400;
}

.photograph_header h2 {
    color: #901C1C;
    font-size: 1.5rem;
    line-height: 31px;
    font-weight: 400;
}

.photograph_header p {
    color: #525252;
    font-size: 1.125rem;
    line-height: 23px;
}

.photograph_header button {
    margin-left: 5%;
    margin-right: auto;
}

.photograph_header .photograph-img {
    display: flex;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 60px;
}

.photograph_header .photograph-img img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.2);
}

/* select dropdown 
** */

.select-dropdown {
    display: inline-flex;
    position: relative;
    margin-top: 10px;
    font-size: 1.125em;
}

.select-dropdown .sort_medias {
    display: block;
}

.select-dropdown label {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    font-weight: 700;
}

.select-dropdown select {
    width: 170px;
    height: 70px;
    font-weight: bold;
    color: white;
    padding: 11px 15px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    text-indent: 1px;
    outline: none;

    /* hide arrow selector  */
    appearance: none;

}

.select-dropdown select:hover,
.select-dropdown select:focus {
    color: #000;
    background-color: #db8876;
}

.select-dropdown select:not(:focus) {
    color: #fff;
    background-color: #901C1C;
}

.select-dropdown option {
    line-height: 30px;
    background-color: #901C1C;
    position: absolute;
    top: 0;
    left: 50px;
    outline: none;
    color: #fff;
}

.select-dropdown i {
    position: absolute;
    top: 25px;
    right: 15px;
    color: white;
    font-size: 1.125em;
    pointer-events: none;

}

/* rotation button sort popularity/date/title  */
.rotated {
    transform: rotate(180deg);
}








/* photographers catalog image *
*** */

.photograph-catalog-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 123px;
    margin-top: 44px;
    width: 100%;
    padding-bottom: 100px;
}

.photograph-catalog-card .card_image,
.photograph-catalog-card .card_video {
    display: block;
    width: 350px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 30%;
    /* width: 100%; */
    border-radius: 5px;
    overflow: hidden;
}

.photograph-catalog-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.photograph-catalog-info h3 {
    font-size: 1.28em;
    line-height: 31px;
    color: #901C1C;
    font-weight: normal;
}

.photograph-catalog-icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.photograph-catalog-icon .like_img {
    font-size: 1.2em;
    color: transparent;
    color: #911C1C;

    transition: color 400ms;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

/* 
*****likes-prices 
*/

.likes-price {
    position: fixed;
    bottom: 0;
    right: 10%;
    background-color: #DB8876;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 700;
    z-index: 500;
}

.likes-price .total_likes {
    display: flex;
    align-items: center;
}

.likes-price .total_likes h3 {
    margin-right: 10px;
}


/*  
*****light box modal
*/

.lightbox_modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 2000;
}

.lightbox_modal .modal_carousel {
    width: 65%;
    height: 90%;
    background-color: #fafafa;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.lightbox_modal .modal_media {
    height: 100%;
    width: 100%;
}


.lightbox_modal .modal_media img,
.lightbox_modal .modal_media video {
    width: 80%;
    height: 87%;
    display: block;
    object-fit: contain;
    margin: 30px auto 10px;
}

.lightbox_modal h3 {
    font-size: 1.2em;
    color: #901C1C;
    margin-top: 20px;
    text-align: center;
}


.lightbox_modal .controls {
    position: absolute;
    font-size: 40px;
    color: #901C1C;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.lightbox_modal .control_btn {
    width: 100%;
}

.lightbox_modal .controls_left {
    left: 10px;
    border: 1px solid transparent;
}

.lightbox_modal .controls_right {
    right: 10px;
    border: 1px solid transparent;
}

.lightbox_modal .controls_right:hover,
.lightbox_modal .controls_left:hover,
.lightbox_modal .controls_right:focus,
.lightbox_modal .controls_left:focus {
    outline: none;
    border: 1px solid #901C1C;
}

.lightbox_modal i {
    padding: 0 20px;
}

.lightbox_modal i {
    padding: 0 20px;
}

.lightbox_modal .modal_close_btn {
    position: absolute;
    top: 30px;
    right: 15px;
    font-size: 20px;
    z-index: 400;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    padding: 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox_modal .modal_close_btn:hover,
.lightbox_modal .modal_close_btn:focus {
    background-color: #f2bdbd;
    outline: none;
    border: 2px solid #901C1C;
}

.lightbox_modal .modal_close_btn img {
    color: #901C1C;
    width: 70%;
    height: 70%;
}


/* 
**contact form 
 */

 #contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.2);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 35px;
    margin: 5% auto;
    position: relative;
}


/* error messages  */

/* hide error messages  */
.firstName_error,
.lastName_error,
.email_error,
.your_message_error {
    display: none;
}

/* color error message  */
.error_msn {
    font-size: 1em;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
    text-transform: uppercase;
}


.modal .close_form {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    padding: 2px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .close_form img {
    width: 70%;
    height: 70%;
}

.modal .close_form:hover,
.modal .close_form:focus {
    background-color: #911C1C;
}

.modal h2 {
    font-size: 3em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.modal h2:last-child {
    margin-bottom: 10px;
}

.modal form {
    margin-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal form label {
    color: #312E2E;
    font-size: 2em;
    line-height: 46.87px;
}

.modal form input,
.modal textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1.8em;
    padding: 0 10px;
}

.modal form input {
    height: 68px;
}

.modal textarea {
    height: 170px;
    padding-top: 10px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal .contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal .contact_button:focus {
    color: #525252;
    background-color: #db8876;
    border: solid 2px #911C1C;
    background-color: #fafafa;
}

